/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*common--begin*/
html, body {
  height: 100%; margin: 0; padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main--container {
  height: 100%;
}

#map {
  height: 70%;
}

#map-info-container > div, ul {
  padding: 6px;
}
#map-info-container li.map-info {
  padding: 6px;
  margin: 6px 0;
}
/*drawer--begin*/
.mdl-layout__drawer > .mdl-navigation > .sub-header {
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 16px 40px;
  margin: 0;

  font-size: 16px;
  border-top: solid 1px #757575;
}
@media screen and (max-width: 1024px) {
  .mdl-layout__drawer > .mdl-navigation > .sub-header {

  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 16px;
  margin: 0;

  font-size: 16px;
  border-top: solid 1px #757575;
  }
}
/*drawer--end*/

#map-info-container {
  width: 98%;
  margin: 6px auto;
}

/*common--end*/

/*index.php--begin*/

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flex-container > #map-info-container {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto;
}
.flex-container > #map-list {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto;
  margin:6px;
}

@media screen and (max-width: 1024px) {
  .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex-container > #map-info-container {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
  .flex-container > #map-list {
    width: 98%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
    margin: 6px auto;
  }
}


#map-list > div > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 12px 24px;
  box-sizing: border-box;
}

#map-list > div > ul > li {
  vertical-align: top;
}

#map-list > div > ul.map-list-item {
  border-top: 1px solid rgba(0,0,0,.12);
  color: rgba(0,0,0,.54);
  -webkit-transition-duration: .28s;
          transition-duration: .28s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background;
  transition-property: background;
}
#map-list > div > ul.map-list-item:hover {
  background: #eeeeee
}

#map-list > div > ul.map-list-header > li {
  text-align: left;
}
#map-list > div > ul > li.map-list--name, #map-list > div > ul > li.map-list--poster {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

#map-list > div > ul > li.map-list--date {
  width: 134px;
}
@media screen and (max-width: 480px) {
  #map-list > div > ul {
    display: block;
  }
  #map-list > div > ul > li.map-list--name {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #map-list > div > ul > li.map-list--poster {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #map-list > div > ul > li.map-list--date {
    display: none;
  }
}

/*index.php--end*/

/* edit.php--begin */

#map-info-container > .flex-container > .mdl-textfield {
  display: block;
}
#map-info-container .map-textfield-small {
  -webkit-box-flex:1;
  -webkit-flex:1;
      -ms-flex:1;
          flex:1
}
#map-info-container .map-textfield-large {
  -webkit-box-flex:3;
  -webkit-flex:3;
      -ms-flex:3;
          flex:3
}
@media screen and (max-width: 1024px) {
  #map-info-container .mdl-textfield {
    width: 100%;
  }
}

#map-info-container > button {
  margin: 6px;
}

/*edit.php--end*/
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 640px){
  .sub--container {
    flex-direction: column-reverse;
  }
}


@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
